<ng-container *ngIf="billsFiltered; else loading">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="material-icons-outlined md-18">search</i></span>
    </div>
    <input class="form-control bg-light" type="text" placeholder="@user #category :shop /date" (keyup)="onFilter($event)">
  </div>
  <div *ngFor="let bill of billsFiltered | reverse">
    <app-bill-details [bill]='bill'></app-bill-details>
  </div>
</ng-container>

<ng-template #loading>
  <app-bills-loading></app-bills-loading>
</ng-template>
