<div *ngIf="bill">
  <div class="shadow-sm pt-3 pr-3 pb-1 pl-3 mb-3 bg-light rounded">
    <div class="mb-0">
      <span class="h6">#{{bill.category}}</span><span class="h5 text-info float-right">{{bill.amount | currency:'EUR':''}}€</span>
    </div>
    <div>
      <small class="text-muted">({{bill.shop}})</small>
    </div>
    <div class="d-flex text-muted">
      <div class="flex-grow-1">
        <span>@{{bill.user}} &sdot; {{bill.date}}</span>
      </div>
      <div>
        <span class="ml-3"><i class="material-icons-outlined md-18" role="butotn">edit</i></span>
      </div>
      <div>
        <span class="ml-3"><i class="material-icons-outlined md-18" (click)="deleteBill()" role="button">delete</i></span>
      </div>
    </div>
  </div> 
</div>
